body { 
  font-size: 16px;
  font-family: 'Helvetica', serif; 
}

#header-nav {
  background-color: #f6b319;  
  border-radius: 0; 
  border: 1px solid #000;
}

.navbar-brand {
  padding-top: 25px;
  margin-bottom: 10px;
}

.navbar-brand h1 { 
  font-family: 'Arial', sans-serif;  
  color: #000;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  margin-left: 0;  
  text-align: left;
  line-height: .75;
}

#main-content .item-details {
	height: 1000px;
}

#page-title {
	font-weight: bold;
}

.item-tile {
	background-color: gray;
}

#nav-list li {
  border-bottom: 1px solid #000;
}

#nav-list li:nth-child(3) {
  border-bottom: 0;
}

h3.item-title {
	padding-top: 10px;
}

div p.item-details {
	padding-left: 15px;
	padding-right: 15px;
}





